<html xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">
  <f:layout name="defaultLayout"/>

  <f:section name="content">
    <f:for each="{Brand}" as="brand">
      <div>
        <ul class="list-group">
          <f:if condition="{0: '{brand.publishedIn}'}=={0:'Germany'}">
            <f:then>
              <li class="list-group-item">ID: {brand.id}</li>
              <li class="list-group-item">Published in: {brand.publishedIn}</li>
              <li class="list-group-item">Publisher: {brand.publisher}</li>
              <li class="list-group-item">Marketed In</li>

              <f:for each="{brand.marketedIn}" as="marketedIn">
                <li class="list-group-item">{marketedIn}</li>
              </f:for>
              <li class="list-group-item">Brand-Name: {brand.name}</li>
              <li class="list-group-item">Object ID's</li>

              <f:for each="{brand.objectIds}" as="objectIds">
                <li class="list-group-item">
                  <f:link.action action="show" arguments="{objectIds:objectIds}">
                    ObjectId's: {objectIds}
                  </f:link.action>
                </li>
              </f:for>
            </f:then>
          </f:if>
    </f:for>
    </div>
    </ul>

  </f:section>
</html>